<%= form_for [:admin, @newsletter] do |f| %>
  <%= render 'shared/errors', resource: @newsletter %>

  <%= f.select :recipient,
      options_for_select(Newsletter.recipients.collect { |k,v| [t("admin.newsletters.recipients.#{k}"), v] },
      @newsletter[:recipient]) %>
  <%= f.text_field :subject %>
  <%= f.text_field :from %>
  <%= f.cktext_area :body, ckeditor: { language: I18n.locale } %>

  <div class="margin-top">
    <%= f.submit class: "button success" %>
  </div>
<% end %>
